<h1 class="text-center mt-5">Mix your doses and Ingredients</h1>

<div class="container">

  <%= simple_form_for [@cocktail, @dose] do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

    <%= f.input :description %>
    <%= f.association :ingredient %>
    <%= f.submit %>

<% end %>
</div>
